<form #employeeForm="ngForm" (ngSubmit)="onSubmit(employee)">
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Create Employee</h3>
        </div>

        <div class="panel-body">

          <div class="form-group"
              [class.has-error]="name.invalid && name.touched"
              [class.has-success]="name.valid">
            <label for="name" class="control-label">Name</label>
            <input required name="name"
                  id="name" type="text"
                  [(ngModel)]="employee.name" class="form-control"
                  #name="ngModel" />
            <!-- error message -->
            <span class="help-block"
              *ngIf="name.invalid && name.touched">
                Full Name is required
            </span>
          </div>

          <!-- Email -->
          <div class="form-group"
              [class.has-error]="email.invalid && email.touched"
              [class.has-success]="email.valid">
              <label for="email" class="control-label">Email</label>
              <input required
                pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
                name="email" id="email" type="text"
                [(ngModel)]="employee.email" class="form-control"
                #email="ngModel"/>
              <span class="help-block"
                *ngIf="email.errors?.required && email.touched">
                Email is required
              </span>
              <span class="help-block"
                *ngIf="email.errors?.pattern && email.touched">
                Email is invalid
              </span>
          </div>

          <!-- Phone Number -->
          <div class="form-group">
              <label for="phoneNumber">Phone Number</label>
              <input name="phoneNumber" id="phoneNumber" type="text"
                     [(ngModel)]="employee.phoneNumber" class="form-control"/>
          </div>

          <!-- radio :Gender( male and female ) -->
          <div class="form-group"
            [class.has-error]="gender.invalid && gender.touched">
            <label class="control-label">Gender</label>
            <div class="form-control">
              <label class="radio-inline">
                  <input required type="radio" name="gender"
                    value="male" [(ngModel)]="employee.gender"
                    #gender="ngModel"/>Male
              </label>
              <label class="radio-inline">
                  <input required type="radio" name="gender"
                    value="female" [(ngModel)]="employee.gender"
                    #gender="ngModel"/>Female
              </label>
            </div>
            <!-- errror message -->
            <span class="help-block"
                *ngIf="gender.invalid && gender.touched">
                Gender is required
            </span>
          </div>

          <!-- checkbox "isActive" field -->
          <div class="form-group">
              <div class="form-control">
                <label class="checkbox-inline">
                    <input type="checkbox" name="isActive"
                      [(ngModel)]="employee.isActive"/>
                      <!-- change the default value of isActive = false -->
                    Is Active
                </label>
              </div>
          </div>

          <!-- dropdown list: Department field -->
          <div class="form-group"
            [class.has-error]="department.invalid && department.touched">
            <label for="department" class="control-label">
              Department
            </label>
            <select id="departmnet" name="department"
                    [(ngModel)]="employee.department" class="form-control"
                    required #department="ngModel" >
              <option disabled value="">Select Department</option>
              <option *ngFor="let dept of departments" [value]="dept.id">
                {{ dept.name }}
              </option>
            </select>
            <span class="help-block"
              *ngIf="department.invalid && department.touched">
                Department is required
            </span>
          </div>
          {{ department.invalid }} - {{ department.touched }}

          <!-- Datepicker:  Date of Birth -->
          <div class="row">
            <div class="form-group col-xs-5">
              <label for="dateOfBirth">Date of Birth</label>
              <input name="dateOfBirth" id="dateOfBirth" type="text" bsDatepicker
                     [bsConfig]="datePickerConfig" placement="right"
                     [(ngModel)]="employee.dateOfBirth" class="form-control"/>
            </div>
          </div>

          <!-- 10. Display/Hide image of employee: photoPath -->
          <div class="form-group">
            <label for="photoPath">Photo path</label>
            <input name="photoPath" id="photoPath" type="text"
                   [(ngModel)]="employee.photoPath" class="form-control"/>
          </div>
            <!-- 10.2 : Show/Hide Button-->
          <div>
            <button type="button" class="btn btn-primary"
                    (click)="togglePreviewPhoto()">
              {{ buttonStatus }} Preview
            </button>
          </div>

          <div class="form-group">
            <img [src]="employee.photoPath" height="200" weight="200" *ngIf="previewPhoto" />
          </div>

        </div>

        <!-- Button Save: to retrieve all the data from the above forms -->
        <div class="panel-footer">
          <button type="submit" class="btn btn-primary"
              [disabled]="employeeForm.invalid">Save</button>
        </div>
    </div>
</form>

Angular Generated Form Model{{ employeeForm.value | json }}
<br/>
Our EmployeeModel {{ employee | json }}
